*.o
/external
/bin/*.dll
/bin/*.exp
/bin/*.lib
/bin/*.pdb
/bin/*.bat
/bin/gdal-data
/bin/ogAddData
/bin/ogCalcExtent
/bin/ogCreateLayer
/bin/ogDeploy
/bin/ogFileLockTest
/bin/ogResample
/bin/resample_mpi
/bin/ogTriangulate
/bin/libOpenWebGlobeProcessing.a
