/external
/bin/*.dll
/bin/*.exp
/bin/*.lib
/bin/*.pdb
/bin/*.bat
/bin/*.o
/bin/gdal-data
/bin/adddata
/bin/calcextent
/bin/createlayer
/bin/resample
/bin/resample_mpi
/bin/resample_mpi_homogenous
/bin/libOpenWebGlobeProcessing.a
